$mainBlue: #2f5566;

h1{
    color: $mainBlue;
    background: black;
    letter-spacing: 2px;
    text-align: left;
    margin: auto;
    position: relative;
    columns: 300px 2;
}

.box{
    a{
        display: block;
        padding: 10px;
    }
}